/* GENERICS*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
/* CONTENT */
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.container ul{
    display: flex;
    flex-direction: column;
}
.container li{
    list-style-type: none;
    border: 1px solid rgb(7, 202, 144);
    padding: 8px 10px;
}
.container h1,h2{
    text-align: center;
    background-color: aquamarine;
    padding: 6px 0px;
}
input{
    margin: 8px;
}
.add-todo-list{
    text-align: center;
}
button{
    border: 1px solid black;
    padding: 2px;
    background-color: aquamarine;
}
.item i{
    color: rgb(250, 184, 1);
}
.item-done i{
    color: aquamarine;
}